@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
/*c Stylesheet burger ordering inc.*/
/*
$amber: #ffbe0bff;
$orange-pantone: #fb5607ff;
$rose: #ff006eff;
$blue-violet: #8338ecff;
$azure: #3a86ffff;
*/

header{        /*Huvudtitel*/
    padding-top: 70px;
    padding-left: 216px;
    padding-right: 2px;
    margin:10px;
    position: absolute;
    font-size: 85pt;
    color: #ff006eff;
    
    z-index: 2; /*ChatGPT singe "margin-top did not work*/    
}

.topPage{
    height: 250px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}


.stars{
    width:100%;
    height: 350px;
    opacity: 0.9;
}

.deliveryInfo,.firstText{
    border: 5px solid #8338ecff; 
    padding-left: 50px; 
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:50px; 
    background-color: #FFFACD; 
    margin-top: 20px;
    margin-bottom: 20px;
 }

 h1{
    font-size: 30pt;
 }

 h2, h3{
    font-size: 22pt;
 }

.burger p{
    color: #00173C;
}

body{
    font-family: 'Bungee Inline', sans-serif;
    color:#ffbe0bff;
    background-color:#A2D6F9;
}

p, ul, label{
    font-size: 18pt;
    font-weight: bolder;
}

::placeholder{
    font-size: 11.5pt;
    color: #00173C;
    opacity: 0.7;
}

.wrapper{
    display: grid;
    background: radial-gradient(#ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
    border: 5px solid #8338ecff;  
    border-radius:50px; 
    grid-template-columns: 25% 25% 25% 25%;
}

.burger{
    text-align: center;
}

.deliveryInfo{      /*Information sektion*/
    background:linear-gradient(180deg, #8338ecff , #ff006eff, #fb5607ff, #ffbe0bff);
    color:#00173C;
}

li::marker {         /*Listmarkörer*/
    content: "✔  ";
    text-align: center;
    color: hsl(217, 100%, 12%);
}

button {      /* The button*/
    padding: 2px 12px 2px 12px;
    margin-top: 5px;
    margin-bottom: 7px;
    font-family: 'Bungee Inline', sans-serif;
    font-size: 20pt;
    color: black;
      } 
      button > img, /*this part selects the img as a direct child of the button*/
      button > span { /*this part selects the span as a direct child of the button*/
        vertical-align: middle;  /* Add this to align vertically */
      }    

button:hover {      /*När man håller på the button*/
    background: linear-gradient(225deg, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);

 }
 hr{        /* "Horizontal line"*/
    background: linear-gradient(90deg, #ffbe0bff, #fb5607ff, #ff006eff, #8338ecff, #3a86ffff);
    height: 5px;
    border:none;
    margin: 0;
 }

 .foodInfo{
    list-style-position: inside;
 }
 footer{
    color:  #00173C;
 }